@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro';
    line-height: 1.3em;
}


html{
    overflow-x: hidden;
}

header{
    background-color: #264c70;
    padding: 1em 0;
    display: grid;
    grid-template-columns: auto auto;
}


#menu{
    font-size: 1.8em;
    color: #fff;
    margin: auto 1em;
    border: 0;
    cursor: pointer;
}
#navigation{
  height: 100%; 
  width: 0; 
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #264c70;
  overflow-x: hidden; /* Disable horizontal scroll */
}

#logo{
    justify-self: right;
    height: auto;
    max-width: 75%;
}
.nav_link{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
    padding: 0.5em;
    margin: 0 auto;
}
.header_extension{
    background-color: #264c70;
    padding: 1em;
}
.header_extension p{
    font-size: 2em;
    color: white;
}
.header_extension img{
    max-width: 70%;
    display: block;
    margin: 0 auto;
}
h1{
    color: #264c70;
    font-weight: 300;
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.125em;
    margin-top: 1em;
}
h2, h3{
    color: #573a0c;
    text-align: center;
    font-weight: 300;
    margin: 1em 0;
    
}

.center_text{
    margin: 1em 5em;
}

.center_text p{
    text-align: center;
}

#hobbies img{
    max-width:70%;
    display: block;
    margin: 1em auto;
}
.item{
    width: 70%;
    margin: 0 auto;
}
.item p{
    text-align: center;
}
.item img{
    max-height: 177px;
    margin: 0 auto;
    display: block;
}

.footer_header{
    color: white;
    font-size:  1.6em;
}

footer{
    background-color: #264c70;
    padding: 1em;
    margin-top: 3em; 
}
.short_footer{
    margin-top: 10em;
}
footer p{
    color: white;
    text-align: center;
}

footer a{
    color: #91BBE3;
    text-decoration: none;
}
#copyright{
    font-size: 0.8em;
    text-align: left;
    margin-top: 0.3em;
}
p{
    font-size: 1.2em;
}

.sgrid img{
    max-width: 100%;
}
.button{
    color: white;
    background-color: #264c70;
    padding: 1%;
    border-color: #264c70;
    margin: 4% auto;
    display: block;
    font-size: 1.3em;
    border-radius: 8px;
    width: 100%;
    outline-width: 0;
    cursor: pointer;
}
#quiz{
    width: 100%;
}
#hobbies{
    width: 85%;
    margin: 0 auto;
}

label{
    text-align: center;
    display: block;
    color: #573a0c;
    font-size: 1.5em;
    font-weight: 300;
    margin: 0.5em 0;
    
}

 .input{
    margin: 0 auto;
    display: block;
    width: 100%;
    border: solid #264c70 1px;
    font-size: 1.2em;
    border-radius: 8px;
    outline-width: 0;
    padding-left: 0.5em;
}

textarea{
    height: 8em;
}

#contact{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.email{
    color: #264c70;
    text-decoration: none;
    font-size: 1.3em;
}

#social_icons{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 50%;
    margin: 0 auto;
    row-gap: 1em;
}

#social_icons img{
    max-width: 50px;  
}

#social_icons a{
    justify-self: center;
}

#direct_contact{
    margin-left: 3%;
}

#contact_form{
    width: 80%;
    padding: 5%;
    margin: 0 auto; 
}

#submit{
    margin-left: 1%;
}

form ul{
    list-style-type: none;
}

.question{
    margin: 2em;
    border: solid 3px #264c70;
    border-radius: 8px;
}

.question img{
    max-width: 80%;
    display: block;
    margin: 0 auto;
}

#questions{
    width: 100%;
    margin: 0 auto;
}

#questions p{
    text-align: center;
}

.answers label{
    font-size: 1em;
    margin: 0;
    display: inline;
    color: black;
}
.next{
    width: 30%;
    margin: 2% 3% 2% auto;
}
#question2, #question3{
    display: none;
}
.answers{
    margin-left: 4%;
}
#score_div{
    display: none;
    padding: 15%;
}

.thumbnail img{
    display: block;
    margin: 0 auto;
}
#canvas{
    border: 1px solid black;
    margin: 0 auto;
    display: block;
}
th{
max-width: 100%;
    background-color: #264c70;
    color: white;
}
table{
    width: 90%;
    text-align: center;
    margin: 0 auto;
}
.canvas_buttons{
    width: 90%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin: 2em auto;
}
.canvas_buttons button{
    width: 80%;
    background-color: #264c70;
    color: white;
    justify-self: center;
    outline-width: 0;
    cursor: pointer;
    border-radius: 8px;
    padding: 1%;
    font-size: 1.3em;
}

#legend{
    margin: 0 auto;
    display: block;
    max-height: auto;
}

a{
    text-decoration: none;
    color: #264c70;
}
a:hover{
    font-weight: 600;
}
#score_div ul{
    list-style-type: none;
    text-align: center;
    font-size: 1.5em;
}